@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 100vh;
  background: #edf2fc;
  font-family: "poppins", sans-serif;
  position: relative;
}

nav {
  width: 100%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cacaca;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 28px;
  cursor: pointer;
  margin-left: 8%;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #606163;
}

nav ul li a:hover {
  color: #31cbff;
}

.btn-nav
{
  background: #31cbff;
  border-radius: 30px;
  padding: 8.5px 12px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  border: 1px solid transparent;
  transition: all 0.4s ease;
  margin-right: 8%;
}

.btn-nav:hover
{
  background: #edf2fc;
  color: #31cbff;
  border: 1px solid #31cbff;
}

.btn {
  background: #31cbff;
  border-radius: 30px;
  padding: 8.5px 14px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  border: 1px solid transparent;
  transition: all 0.4s ease;
  margin-right: 8%;
}

.btn:hover {
  background: transparent;
  color: #31cbff;
  border: 1px solid #31cbff;
}

/* isi hero **************************************************************/

.info {
  margin-left: 8%;
  margin-top: 10%;
}

.info h1 {
  font-size: 30px;
  color: #444242;
}

.info span {
  color: #31cbff;
}

.info p {
  color: #606163;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.img-box {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.img-box img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.img-box .man-img {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px 10px #222);
}

.img-box:hover .back-img {
  bottom: 40px;
}

.img-box:hover .man-img {
  left: 54%;
}

.social {
  margin-left: 8%;
  margin-top: 25px;
}

.social a {
  font-size: 28px;
  color: #606163;
  margin-right: 20px;
}

.social a:hover {
  color: #31cbff;
}


@media (max-width: 600px) 
{

  .hero
  {
    height: 100vh;
    overflow: hidden;
  }

  nav {
    padding: 10px 6%;
    display: inline-block;
  }

  .logo {
    font-size: 20px;
    margin-left: 2%;
    margin-top: 7px;
  }

  nav ul li {
    margin: 6px 6px;
  }

  nav ul li a
  {
    font-size: 13px;
  }

  .btn-nav {
    padding: 6px 10px;
    position: absolute;
    right: -2%;
    top: 11%;
  }

  .info
  {
    width: 60%;
    z-index: 999999;
  }

  .info h1 {
    font-size: 15px;
  }

  .info p {
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 13px;
  }

  .btn
  {
    background: #31cbff;
    border-radius: 30px;
    padding: 8px 10px;
    font-size: 12px;
  }
  
  .social
  {
    margin-top: 14px;
  }
  .social a {
    font-size: 21px;
    margin-right: 10px;
  }

  .img-box
  {
    width: 45%;
    height: 80%;
    position: absolute;
    top: 20%;
    left: 80%;
    
  }

  .img-box img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
  }

  .img-box .back-img
  {
    margin-left: 40%;
  }
























}